.main-frame {
  position: relative;
  display: flex;
  justify-content: center;
}

.desktop {
  width: 1440px;
  height: 10150px;
}

.mobile {
  width: 575px;
  height: 8796px;
}

@media (max-width: 650px) {
  .frame {
    width: 100%;
    height: 8796px;
}
  .button-switch {
    display: none;
}

}

.frame {
  border: none;
}

.frame-controls {
  position: fixed;
  display: flex;
  right: 5%;
  bottom: 5%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 100px;
  height: 110px;
}

.frame-controls-button {
  border: none;
  cursor: pointer;
  width: 100px;
  height: 60px;
  color: #fff;
  margin-top: 20px;
  font-size: 13px;
  margin-left: 20px;
  text-transform: uppercase;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
}

@media (max-width: 640px) {
  .frame {
    width: 100%;
  }
}